<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml"
       xmlns:th="http://www.thymeleaf.org"
       xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
       xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

  <title>Welcome</title>
</head>
<body>
<div class="container">
  <br>
  <h3>Log In</h3>
  <hr>
  <form action="#" th:action="@{/managers/login}"
        th:object="${manager}" method="GET">

    <input type="text" th:field="*{password}" placeholder="Password"
           class="form-control mb-4 col-4">

    <input type="text" th:field="*{email}" placeholder="Email"
           class="form-control mb-4 col-4">

    <button type="submit" class="btn btn-info col-2">Save</button>
  </form>
  <hr>
  <a th:href="@{/customers/list}">Back to Customers</a>
</div>

</body>
</html>